body {
    margin: 0;
    padding: 0;
}


.first_section {
    height: 100vh;
    color: white;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5ksLIwDcOJoX53-Es89VKBt4KgKkIxrYuJL5QAZJz&s");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    width: 100px;
    position: absolute;
}

h1 {
    margin: 0;
}